<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:util="http://www.springframework.org/schema/util"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/util
    http://www.springframework.org/schema/util/spring-util.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    
<context:property-placeholder location="classpath:sports.properties"/>
<bean id="myFortune" class="com.luv2code.springdemo.HappyFortuneService"/>
<bean id="randomFortune" class="com.luv2code.springdemo.RandomFortuneService">
	<property name="fortunes">
        <array value-type="java.lang.String">
            <value>Good luck is on your way</value>
			<value>You've get a reward soon</value>
			<value>You've a great confidence</value>
			<value>your skills will take you to next level</value>
        </array>
    </property>
</bean>


<bean id="myCoach" class="com.luv2code.springdemo.TrackCoach">
	<constructor-arg ref="randomFortune" />
</bean>

<bean id="myCricketCoach" class="com.luv2code.springdemo.CricketCoach" scope="prototype">
	<property name="fortuneService" ref="myFortune"/>
	<property name="team" value="${foo.team}"/>
	<property name="email" value="${foo.email}"/>
</bean>

</beans>